$color-primary: rgb(40, 39, 38);
$color-text: rgb(206, 205, 195);
$color-subtext: rgb(135, 133, 128);
$color-border: rgb(52, 51, 49);
$border-radius: 4px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;


:root {
  --border-radius: 4px;
  --font-small: 0.875em;
  --font-smaller: 0.8em;
  --wrap-wide: 54em;
  --wrap-normal: 37em;
  --heading-weight: 500;
  --input-width: 20em;
  --image-radius: 6px;
  --line-height: 1.5
}

@media (max-width: 860px) {
  :root {
    --wrap-normal: 88vw;
    --wrap-wide: 100vw;
    --input-width: 100%;
    --heading-weight: 600
  }

  :root .wide,
  :root .wider {
    --border-radius: 0;
    --image-radius: 0
  }
}

body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 54em;
  background-color: rgb(16, 15, 15);

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: $color-text;
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-primary;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

h1 {
  font-weight:500;
  font-size: 2em;
  font-size: calc(1.35em + 0.55vw);
  letter-spacing: -0.02em;
  line-height: 1.25;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}

h2 {
  font-weight: var(--heading-weight);
  font-size: 1.4em;
  font-size: calc(1em + 0.2vw);
  letter-spacing: -0.015em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.3
}

h3 {
  font-weight: var(--heading-weight);
  font-size: 1.2em;
  font-size: 1em;
  line-height: 1.3;
  margin-top: 1em;
  margin-bottom: 0.5em
}

h4 {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.3;
  margin-top: 1em
}

h5 {
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 1em;
  letter-spacing: 0.05em;
  font-size: 1.4rem
}

p {
  max-width: var(--wrap-normal)
}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  //text-decoration: none;
  color: $color-text;
  &:hover {
    color: rgb(58, 169, 159) !important;
  }
}

article a:not(.plain):not(.tag):not(.internal-link):not(.footnote):not(.reversefootnote):not([href^="#"]):not([href^="/"]) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2.5' stroke='gray' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25' /%3E%3C/svg%3E%0A");
  background-position: right 33%;
  background-repeat: no-repeat;
  background-size: 0.7em;
  padding-right: 0.75em
}

article hr {
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-top: calc(2em + 2vh);
  margin-bottom: calc(2em + 2vh);
  display: block;
  border: 0;
  background: none;
  text-align: center;
  overflow: visible
}

article hr:before {
  content: '\2022\2022\2022';
  display: inline-block;
  font-size: .5em;
  font-size: calc(.8em + .2vw);
  margin-left: 0.6em;
  letter-spacing: 1.25em;
  color: var(--color-tx-faint);
  position: relative;
  top: -0.75em
}

.remove-text-decoration{
  text-decoration: none;
}

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}

nav {
  margin: 0 auto 3em;
  width: var(--wrap-normal);
  max-width: var(--wrap-wide);
}

.backlink-box {
  //background: $color-subtext;
  padding: 0.5em;
}

code {
  background: $color-primary;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  //color: #444444;
  cursor: help;
  background: rgb(40, 39, 38);
  padding: 0 0.1em;
}

.invalid-link-brackets {
  //color: #ccc;
  cursor: help;
}

.wrapper{
  max-width: var(--wrap-normal);
  margin-left: auto;
  margin-right: auto;
}

.flex{
  display: flex;
}

.align-center{
 align-items: center;
}

.flex-grow {
  flex-grow: 1;
}